#back {
    /* background: red; */
    padding: 10px
}

@media only screen and (min-width: 768px) {
    #back {
        /* background: rgb(255, 128, 128); */
        padding: 20px 80px
    }
}

p {
    margin: 0px
}